In [1]:
print('My name is {}. I am learning pyrhon and I am excited to do so'.format('Sudipto Roy'))

My name is Sudipto Roy. I am learning pyrhon and I am excited to do so

In [2]:
a = 10
b = 20
print('The sum of {} and {} is {}'.format(a, b, a+b))

The sum of 10 and 20 is 30

In [1]:
a = 10
b = 20
print('The difference of {} and {} is {}'.format(a, b, a-b))

The difference of 10 and 20 is -10

In [2]:
#Lets define a simple list
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [3]:
my_list.index(4)

3

In [4]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [5]:
my_tuple[-4]

2

In [6]:
my_string = "Python is a programming language"
my_string[0]

'P'

In [7]:
my_string[-1]

'e'

In [9]:
my_dictionary = {'Ravi' : 'Engineer', 'Mark' : 'Analyst', 'James' : 'Sales'}
my_dictionary

{'Ravi': 'Engineer', 'Mark': 'Analyst', 'James': 'Sales'}

In [10]:
my_dictionary['Ravi']

'Engineer'

In [11]:
my_dictionary['James']

'Sales'

In [12]:
my_first_list = [1, 2, 3]
my_second_list = [4, 5, 6]

my_first_list.append(my_second_list)
print(my_first_list)

[1, 2, 3, [4, 5, 6]]

In [13]:
my_first_list[3]

[4, 5, 6]

In [14]:
my_first_list[3][-1]

6

In [15]:
my_first_list.append(('Python', 'Java', 'Sql'))
my_first_list

[1, 2, 3, [4, 5, 6], ('Python', 'Java', 'Sql')]

In [16]:
my_unique_list = [['Supriya', 'Doctor', 30, 'Delhi'], ['Rakesh', 'Doctor', 38, 'Hyderabad'], ['Raja', ['Engineer', 'Manager'], 48, ['Kolkata', 'London']]]
my_unique_list

[['Supriya', 'Doctor', 30, 'Delhi'],
 ['Rakesh', 'Doctor', 38, 'Hyderabad'],
 ['Raja', ['Engineer', 'Manager'], 48, ['Kolkata', 'London']]]

In [17]:
my_unique_list[-1][-2]

48

In [18]:
my_dictionary = {'key1' : {'subkey1' : [23, 24, 25], 'subkey2' : [20, 24, 29], 'subkey3' : [25, 28, 35]},
                     'key2' : {'subkey1' : [-23, -24, -25], 'subkey2' : [-20, -24, -29]},
                     'key3' : [('Ravi', 'Mahesh', 'Mary', 'Johnson'), ([(23, 39), (45, 90)], ('Doctor', 'Engineer'))]}

In [19]:
sum(my_dictionary['key1']['subkey1']), sum(my_dictionary['key1']['subkey2']), sum(my_dictionary['key1']['subkey3'])

(72, 73, 88)

In [20]:
sum(my_dictionary['key2']['subkey2'])

-73

In [21]:
last_char_last_name = my_dictionary['key3'][0][-1][-1]
print(last_char_last_name)

n

In [22]:
last_element_key3 = my_dictionary['key3'][1][-1]
print(last_element_key3)

('Doctor', 'Engineer')

In [23]:
fourth_letter_engineer = my_dictionary['key3'][1][-1][1][3]
print(fourth_letter_engineer)

i